<section class='jumbotron'>
      <h1 class="display-4">About</h1>
      <ul>
        <li>
  <p class="lead">This application was developed primarily using Node.js and MongoDB.
        With it, you can effortlessly create, delete, edit, and view your notes.
        To access these features, you'll need to register and subsequently log
        in.</p>
        </li>
        <li><p class="lead">Your data will be securely stored, and your password will be encrypted
        to ensure maximum user security. Additionally, our navigation addresses
        are safeguarded, meaning that unauthorized access attempts will be
        thwarted.</p>
        </li>
      </ul>
      <a class='btn btn-primary btn-lg' href='https://www.linkedin.com/in/jhoan-nicolas-beru-alvarez-a30a61210/' role='button' target="_blank">LinkedIn</a>
      <a class='btn btn-primary btn-lg' href='https://github.com/jackira01/Nodejs_MongoDB_CRUD' role='button' target="_blank">GitHub Project</a>
    </div>
  </div>
</section>