<div class='jumbotron mt-4'>
  <h1 class='display-4'>Notes Nodejs and Mongodb</h1>
  <p class='lead'>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Eum maiores vero, temporibus quas doloremque culpa eligendi repellendus
      reprehenderit esse? Ea!<p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ab excepturi numquam omnis asperiores ipsum ad modi cumque repudiandae iusto.</p>
  <a target="_blank" href="https://www.linkedin.com/in/jhoan-nicolas-beru-alvarez-a30a61210/" class="btn btn-info">Mi LinkedIn</a>
</div>