<div class='jumbotron mt-4'>
  <h1 class='display-4'>Welcome to YourNotes App</h1>
  <p class='lead'>Hello and welcome! In YourNotes App, we welcome you to a space
    where your thoughts take shape. Express yourself, organize, and never lose
    an idea. Create your notes easily and securely, all in one place.</p>
  <hr class='my-4' />
  <p>What awaits you?</p>
  <ul>
    <li><strong>Create your notes:</strong>
      Let your imagination flow. With just a few clicks, you can bring your
      ideas and projects to life, always keeping them at your fingertips.</li>
    <li><strong>Safety first:</strong>
      We take your privacy seriously. Your information is protected so that only
      you have access to your notes.</li>
    <li><strong>Simplify your life:</strong>
      Forget paper notes lost somewhere. YourNotes App helps you keep everything
      organized and find what you need in seconds.</li>
  </ul>
  <a class='btn btn-primary btn-lg' href='/users/signup' role='button'>Sign Up to Get
    Started</a>
  <p class='mt-3'>Thank you for choosing YourNotes App, where every idea
    matters!</p>
</div>